*,
*::before,
*::after {
    box-sizing: border-box;
}
/* This is used to declare the variables which are used throughout the entitre css file*/
:root{
/*this is the font family I will use in my website*/ 
    --ff-Oswald: 'Oswald', sans-serif; 
/*these variables are the font weights used throught the css file*/
    --fw-reg: 300;
    --fw-bold: 900;
/*these variables are to define the color scheme that is used throught the webpages and are defined here to remove redundancy*/ 
    --clr-light: #5FB7DD;
    --clr-dark: #0F5A3F;
    --clr-accent: #F3B3F0 ;
/*these variables are used to remove redundancy in code as they define four different text sizes that I can use in my css without having to rewrite the size over and over again*/
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
/*this variable is for a box-shadow that I added to images with in my web pages and it used two separate box-shadows overlayed one more clearly seen and another that is darker to add depth to the box-shadow*/
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
/* This is used to give the general structure and look of the body of the main page mostly to do with the general text font,size,weight*/
body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-Oswald);
    font-size: var(--fs-body);
    line-height: 1.6;
}
section{
    padding: 5em 2em;
}
img {
    display: block;
    max-width: 100%;
}
strong {font-weight: var(--fw-bold);}
/*this technique gives an outilne of the accent color to any element with in focus such as the navigation of images*/
:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}
h1{font-size: var(--fs-h1); }
h2{font-size: var(--fs-h2); }
h3{font-size: var(--fs-h3); }
/* This is used to give the style of the titles and subtitles of the pages*/
.section__title {
    margin-bottom: .25em;
}
.section__title--intro {
    font-weight: var(--fw-reg);
    margin-bottom: .25em;
}
.section__title--intro strong {
    display: block;
}
.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}
.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-Oswald);
    margin-bottom: 1em;
}
/* This is used to give the header and navigation bar of the pages it's style*/
header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.logo{
    max-width: 100px;
}
.nav{
    background: var(--clr-dark);
}
.nav__link{
    text-decoration: none;
    color: var(--clr-accent);
    margin-right: 1.5em;
}
.nav__link:hover{
    text-decoration: underline;
    opacity: .7;
}
/* This is used to give the style of the intro of the pages*/
.intro{
    position: relative;
}
.intro__img{
    box-shadow: var(--bs);
}
.section__subtitle--intro{
    display: inline-block;
}
/* this media query uses the grid desplay and the template in order to alow the intro part of my web pages to display correctly and on any screen size*/ 
@media (min-width: 600px){
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em)
    }
}
/* This is used to give the style of the about me part of the main page*/
    .about--me{
        max-width: 1000px;
        margin: 0 auto;
    }
    .about--me__img{
        box-shadow: var(--bs);
    }
    /* this media query uses the grid desplay and the template in order to alow the intro part of my web pages to display correctly and on any screen size*/ 
    @media (min-width: 600px){
        .about--me {
            display: grid;
            grid-template-columns: 1fr 200px;
            grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
            grid-column-gap: 2em;
        }
        .section__title--about{
            grid-area: title;
        }
        .section__subtitle--about{
            grid-column: 1 / -1;
            grid-row: 2;
            position: relative;
            left: -1em;
            width: calc(100% + 2em);
            padding-left: 1em;
            padding-right: calc(200px + 4em)
        }
        .about--me__img{
            grid-area: img;
            position: relative;
            z-index: 2;
        }
    }
/* This is used to give the style of the my art and portfolio part of the pages*/
.my--art {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}
.section__subtitle--art{
    color:var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    margin: .25em;
}
/* these combination of techniques are used to organize and style the portfolio part of my webpages*/
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}
.portfolio__img{
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}
.portfolio__item:focus{
    position: relative;
    z-index: 2;
}
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .75;
}
/* This is used to give the style of the footer in the pages*/
.footer{
    background: #111;
    text-align: center;
    padding: 2.5em 0;
}
.footer__link{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: var(--clr-accent);
    text-decoration: none;
}
.footer__link:hover{
    text-decoration: underline;
    opacity: .7;
}